<h6>Contact</h6>
<ul class="menu">
    <!-- <li><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a></li>
    <li><a href="{{ '/research/' | prepend: site.baseurl | prepend: site.url }}">Research</a></li>
    <li><a href="{{ '/cv/' | prepend: site.baseurl | prepend: site.url }}">CV</a></li> -->
    <li><i class="fa fa-university" aria-hidden="true"></i> Department of Earth Science, Rice University</li>
    <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:tangmyes@gmail.com">tangmyes@gmail.com</li>
</ul>
